<h4 mat-dialog-title>Votre sélection</h4>

<mat-dialog-content *ngIf="selectedPrestations$ | async as selectedPrestations">
  <p *ngIf="selectedPrestations.length === 0">
    Oups, aucune prestation n'est séléctionnée pour le moment !
  </p>
  <ul>
    <li *ngFor="let selectedPrestation of selectedPrestations">
      <i class="fa fa-trash" (click)="remove(selectedPrestation)" [matTooltip]="'Supprimer cette prestation ?'"></i>
      <span class="prestation-name">{{ selectedPrestation.name }} ({{ selectedPrestation.price }}€)</span>
    </li>
  <li *ngIf="selectedPrestations?.length"
      style="padding-top: 0.5rem;">
    Total : {{ totalCost }}€
  </li>
  </ul>
</mat-dialog-content>

<mat-dialog-actions>
  <app-primary-button type="button"
          mat-dialog-close>Ok</app-primary-button>
</mat-dialog-actions>
