<img id="bella-dolce-logo"
           src="assets/images/bella_dolce.JPG"
           class="img-fluid"
           alt="Bella Dolce logo">
<div class="container-fluid">
  <div class="row"
       [style.height]="'50%'">
    <div class="col text-center">
      
    </div>
  </div>

  <div class="row">
    <div class="col">
      <article>
        <p class="text-center">Chez Bella&Dolce prenez le temps de marquer une pause, la votre. Ambiance chaleureuse, souriante et reposante au rendez-vous. </p>
        <p>
          Les prestations suivantes vous sont proposées : 
        </p>
          <ul>
            <li>
              L’épilation à la cire : j’utilise la cire RICA aux ingrédients naturels notamment une résine naturelle hypoallergénique
              ainsi que de l’huile végétale et de la cire d’Abeille naturelle.
              Dans cette gamme j’utilise la cire liposoluble à l’Aloé Véra, cette cire est formulée pour les peaux sensibles, elle hydrate et calme la peau pendant l’épilation. J’utilise également la cire à l’Avocat spécial zones sensibles, enrichie en beurre, huile et lait d’avocat, riche en vitamines A, E et D qui hydratent, nourrissent et tonifient la peau grâce à leur action anti oxydante. Sans parfum, ni ajout de colorant pour les peaux fragiles, elle est garantie anti-irritation. 
            </li>
            <li>
              L’extension cil à cil : Pour cette prestation, j’utilise principalement des cils en soie de la marque VELVET. Doux, légers et brillants, les cils en soie ont une meilleure adhérence sur vos cils naturels car ils sont moins lourds que ceux en acrylique ou synthétique. La technique est adaptée selon les différents types de cils, et l’envie de la cliente. Si vous voulez un effet naturel cette pose est faite pour vous. 
            </li>
            <li>
              Le rehaussement de cils : il est accompagné du soin LASHBOTOX VELVET qui répare les fibres des cils abîmés ou cassés avec un puissant concentré d’ingrédients actifs. Ce soin complet rehausse votre regard et épaissit vos cils en plus de les soigner. 
            </li>
            <li>
              Le rehaussement de sourcils : Pour des sourcils bien dessinés, bien remplis, plus épais et plus fournis. Cette prestation peut-être accompagnée d’une épilation des sourcils. 
            </li>
          </ul>
          
        <p>
          Exerçant à mon domicile, il est possible de me déplacer pour les prestations d’épilations uniquement, motif pour lequel il vous sera facturé un montant pouvant aller jusqu’à 10 € supplémentaire en cas de déplacement de ma part aux alentours de Pontarlier. 
          N’hésitez pas à me contacter pour vous apporter plus de réponses et pour que je puisse suivre l’évolution de vous attentes. 
          Bien Amicalement. 
        </p>
      </article>
    </div>
  </div>
</div>